@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --international-klein-blue: #112ea3ff;
    --antiflash-white: #fafafa;
    --pale-dogwood: #dac1b3ff;
    --eerie-black: #161b1eff;
    --lapis-lazuli: #7fc9f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img {
    width: 80px;
    height: auto;
    filter: invert(17%) sepia(83%) saturate(7491%) hue-rotate(219deg) brightness(96%) contrast(111%);
}

.logo>h2 {
    color: var(--international-klein-blue);
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
}

.logo>h2>span {
    font-size: 8px;
    border: 1px solid var(--international-klein-blue);
    border-radius: 50%;
    padding: 1px 2px;
    position: absolute;
    margin-left: 2px;
}

a{
  display: block;
  text-decoration: none;
  font-size:2rem;
  cursor: pointer;
  border:2px solid var(--international-klein-blue);
  color: var(--international-klein-blue);
  margin: 2rem auto;
  width: 40%;
  text-align: center;
}

a:hover{
    background-color: var(--international-klein-blue);
    color: var(--antiflash-white);
    transition: 1s ease-in-out;
}